<ion-view title="商城" id="page2">
  <ion-content padding="false" class="has-header">
    <div class="list">
        <div class="item-shop-border">
          <div class="item-shop-div">
            <img src="img/五谷丰登.jpg">
            <p>五谷丰登</p>
            <p>富含多种营养</p>
            <p>30元/斤</p>
          </div>
          <div class="item-shop-div">
            <img src="img/橙子.jpg">
            <p>橙子</p>
            <p>补充维C</p>
            <p>25元/斤</p>
          </div>
          <div class="item-shop-div">
            <img src="img/燕麦.jpg">
            <p>燕麦</p>
            <p>早餐的好搭档</p>
            <p>15元/份</p>
          </div>
          <div class="item-shop-div">
            <img src="img/蔬果套餐.jpg">
            <p>蔬果套餐</p>
            <p>营养齐全</p>
            <p>45元/份</p>
          </div>



     </div>


  </ion-content>
</ion-view>
